@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


h1{
    text-align: center;
    color: whitesmoke;
    background-color: blue;
    margin: 50px;

    font-family: "Oswald", sans-serif;
    font-style: italic;
    text-decoration: underline;
    border: 20px solid black;
    border-radius: 20px;
    border-style: double;
    padding: 10px;
    margin: 2px;
}

/* .box1{
    color: brown;
    height: 100px;
    width: 100px;
}

.box2{
    color: chartreuse;
    width: 200px;
    height: 200px;
} */
 
h3{
    background-color: rgb(9, 125, 87);
    color: black
}
h3:hover{
    background-color: aqua;
    color: brown;
    text-align: center;
}
h3:active{
    background-color: blue;
    color: chartreuse;
    text-align: right;
} 
#textinput:focus{
    border: 5px solid red;
}
h3::selection{
    background-color: blueviolet;
    color: azure;
}